<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> RSA </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>RSA is a public-key cryptosystem, meaning it uses a pair of keys: a public key for encryption and a private key for decryption.</p>
    <a class="project-link" href="https://github.com/Cyber-Punisher/Crypto_RSA_GUI">Check it out</a>
  </div>
</div> 
