<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img
      alt="Practical-malware-analysis"
      src="{{ "/assets/img/PMA.png" | prepend: site.baseurl }}"
      width="300"
      height="180"
    />
  </div>
  <div class="contents-right">
    <h3> Practical malware analysis book </h3>
    <ul>
      <li>Hands-on malware analysis workflow (static, dynamic, behavioral)</li>
      <li>Identifying APIs, imports, and malicious behaviors</li>
      <li>Reverse-engineering techniques using IDA, OllyDbg, x64dbg</li>
    </ul>
    <a class="project-link"href="https://0xislvm.github.io/posts/ch(1,3)/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img
      alt="Splunk"
      src="{{ "/assets/img/Splunk-Logo.jpg" | prepend: site.baseurl }}"
      width="360"
      height="240"
      style="object-fit: contain;"
    />
  </div>
  <div class="contents-right">
    <h3> Threat Hunting & Adversary Simulation Lab </h3>
    <ul>
      <li>(Kali + Windows + Splunk + Sysmon)</li>
      <li>Simulated adversary TTPs</li>
      <li>Collected telemetry using Sysmon</li>
      <li>Splunk searches</li>
      <li>evidence + detection logic</li>

    </ul>
    <a class="project-link"href="https://0xislvm.github.io/posts/Adversary-Simulation-&-DFIR-Threat-Hunting-Lab-using-Sysmon-and-Splunk/">Check it out</a>
  </div>
</div>